body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "helvetica", "Arial", sans-serif;
  background: #f1a8eb;
}

h1 {
  padding-top: 80px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 60px;
  padding-right: 60px;
}
h3 {
  text-decoration: underline;
  font-weight: 100;
  font-size: 2em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}
p {
  font-size: 1.2em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.container--filler-image {
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  overflow: hidden;
}

/*navbar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1400px;
  height: 100px;
  z-index: 2;
  background: #f1a8eb;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: black 1px solid;
}

nav a {
  color: black;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.75em;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

nav a:hover {
  color: white;
}

/*section*/
section {
  box-sizing: border-box;
  padding: 60px;
  width: 100%;
  max-width: 1400px;
  background: #f1a8eb;
  border-bottom: black 2px solid;
}
#welcome--section {
  margin: auto;
}
.anchor {
  position: relative;
  top: -100px;
  display: block;
}

.anchor--top {
  padding: -100px;
}

/*PROJECTS*/
.container--projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-tile {
  background: white;
  width: 400px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 3;
}

.project-name {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  text-transform: none;
  font-weight: 200;
  font-size: 2em;
}
.img--project {
  width: 100%;
  height: auto;
}

.description--project {
  text-align: left;
}

.description--project a,
.description--me a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000080;
  font-weight: 600;
}

.description--project a:hover,
.description--me a:hover {
  color: #9370db;
}

/*about us*/
.img--about {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}

.container--about {
  width: 100%;
}

.description--me {
  margin-bottom: 1em;
}

/*about us*/
#contact-section {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.container--profile-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-links {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 5px;
  flex-grow: 2;
}

.profile-links:hover {
  color: black;
}

.filler--contact {
  background: url(work.png) no-repeat;
  margin-left: 60px;
  /* background-position: 40% 50%; */
}

@media (max-height: 600px) {
  .container--filler-image {
    display: none;
    /* background-position: 20% 30%; */
  }
}

@media (max-width: 800px) {
  section {
    padding: 20px;
  }

  h1 {
    margin-top: 60px;
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h1,
  #welcome-section h2,
  #contact-section h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav a {
    font-size: 1.5em;
    padding: 5px;
  }

  .project-tile {
    margin: 10px;
  }

  .img--about {
    height: 150px;
    width: 150px;
  }
  .filler--contact {
    /* background-image: none; */
    /* display: flex; */
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  #navbar {
    display: block;
    height: 40px;
    width: 100px;
    background-color: black;
    /* display: column; */
  }
}
