body {
  background-image: url("c3.webp");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#title,
#description {
  display: flex;
  margin: auto;
  max-width: 50%;
  text-align: center;
}
#title {
  text-shadow: 2px 2px 5px grey;
}
#survey-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 50px 20px;
  border: 2px solid whitesmoke;
  max-width: 50%;
  margin: auto;
  margin-top: 2em;
  background-color: rgba(75, 75, 87, 0.8);
  font-size: 16px;
}
.form-element {
  padding-top: 1em;
  padding-top: 2em;
  display: inline-flex;
  flex-direction: column;
}
#submit {
  background-color: #4b5c6b;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  max-width: 50%;
  margin-top: 1em;
}

.img-credit {
  color: grey;
}
